/* Appointment*/

.appointment__title {
  font-family: @title-font;
  font-size: 33px;
  line-height: 36px;
  font-weight: 400;
  color: @basic_black;
  align-items: center;
}

.appointment {
  font-family: @title-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @basic_black;
  align-items: center;
  text-transform: uppercase;
}

.appointment__paragraph {
  font-family: @title-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic_black;
  align-items: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .appointment__title {
    min-width: 668px;
    font-size: 60px;
    line-height: 60px;
  }

  .appointment__paragraph {
    min-width: 668px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .appointment__title,
  .appointment__paragraph {
    min-width: 1220px;
  }
}
