/* Card */

.card__wrapper ul {
  list-style: none;
  padding-left: 0;
}

.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__item {
  min-width: 280px;
  margin-top: 20px;
}

.card__item p {
  font-size: 12px;
  line-height: 16px;
}

.card__title {
  font-family: @title-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 13px;
}

.card__link-button {
  min-width: 260px;
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.card__title--link {
  color: @basic_black-2;
  align-items: center;
}

.card__description {
  font-family: @main-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: @special_dark-grey;
  margin-bottom: 13px;
}

.card__button {
  min-width: 260px;
  display: inline-block;
  font-family: @title-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @special_dark-grey;
  padding: 10px;
  background-color: @basic_grey;
  border: none;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .card__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card__item {
    width: 292px;
    align-self: flex-end;
  }

  .card__link-img {
    margin-left: 116px;
    margin-right: 116px;
  }

  .card__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .card__title--link {
    font-size: 20px;
    line-height: 22px;
  }

  .card__detail {
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .card__item {
    width: 245px;
  }

  .card__title {
    font-size: 20px;
    line-height: 21px;
  }
}
