/* Card */

.card__wrapper ul {
  list-style: none;
  padding-left: 0;
}

.card__item {
  width: 280px;
  margin-top: 40px;
}

.card__item p {
  font-size: 12px;
  line-height: 16px;
}

.card__title {
  font-family: @title-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 13px;
}

.card__title--link {
  color: @basic_black-2;
  align-items: center;
}

.card__description {
  font-family: @main-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: @special_dark-grey;
  margin-bottom: 13px;
}

.card__button {
  width: 100%;
  display: inline-block;
  font-family: @title-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @special_dark-grey;
  padding: 12px 0;
  background-color: @basic_grey;
  border: none;
}
