/* Copyright */

.copyright__link {
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  font-weight: 400;
  min-width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    min-width: 163px;
  }
}
