/* Explanation */

.explanation {
  min-width: 280px;
  font-family: @main-font;
  margin-bottom: 36px;
}

.explanation__wrapper ul {
  list-style: none;
  padding-left: 0;
}

.explanation h2 {
  font-family: @title-font;
  font-size: 36px;
  line-height: 40px;
  color: @basic_black;
  font-weight: 400;
}

.explanation__item {
  width: 280px;
}

.explanation__paragraph--illustration-1 {
  background: url("../img/explanation/illustration_1.svg") no-repeat 0 0;
  padding-left: 80px;
}

.explanation__paragraph--illustration-2 {
  background: url("../img/explanation/illustration_2.svg") no-repeat 0 0;
  padding-left: 80px;
}

.explanation__paragraph--illustration-3 {
  background: url("../img/explanation/illustration_3.svg") no-repeat 0 0;
  padding-left: 80px;
}

.explanation__paragraph--illustration-4 {
  background: url("../img/explanation/illustration_4.svg") no-repeat 0 0;
  padding-left: 80px;
}
