/* Explanation */

.explanation {
  //min-width: 280px;
  font-family: @main-font;
  margin-bottom: 18px;
  height: 100%;
}

.explanation__wrapper ul {
  list-style: none;
  padding-left: 0;
}

.explanation h2 {
  font-family: @title-font;
  font-size: 36px;
  line-height: 40px;
  color: @basic_black;
  font-weight: 400;
  margin-top: 26px;
  margin-bottom: 40px;
}

.explanation__list {
  margin-top: 14px;
  margin-bottom: 20px;
}

.explanation__item p {
  margin: 0;
}

.explanation__item {
  height: 100%;
}

.explanation__paragraph {
  height: auto;
}

.explanation__paragraph--illustration-1 {
  background: url("../img/explanation/illustration_1.svg") 0 0 no-repeat;
  padding-left: 80px;
  min-height: 80px;
}

.explanation__paragraph--illustration-2 {
  background: url("../img/explanation/illustration_2.svg") 0 0 no-repeat;
  padding-left: 80px;
  min-height: 80px;
}

.explanation__paragraph--illustration-3 {
  background: url("../img/explanation/illustration_3.svg") 0 0 no-repeat;
  padding-left: 80px;
  min-height: 80px;
}

.explanation__paragraph--illustration-4 {
  background: url("../img/explanation/illustration_4.svg") 0 0 no-repeat;
  padding-left: 80px;
  min-height: 80px;
}

@media (min-width: @tablet-width) {
  .explanation {
    //width: 709px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .explanation__wrapper {
    min-width: 708px;
  }

  .explanation h2 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 18px;
    margin-bottom: 54px;
  }

  .explanation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid @special_grey-4;
  }

  .explanation__item {
    width: 325px;
    min-height: 182px;
    margin-top: 20px;
  }

  .explanation__paragraph {
    padding-top: 112px;
    padding-left: 0;
    width: 246px;
  }

  .explanation__paragraph--illustration-1 {
    background: url("../img/explanation/illustration_tablet_1.svg") 0 0 no-repeat,
      url("../img/explanation/illustration_tablet_5.svg") 125px 0 no-repeat;
    min-height: 180px;
  }

  .explanation__paragraph--illustration-2 {
    background: url("../img/explanation/illustration_tablet_2.svg") no-repeat,
      url("../img/explanation/illustration_tablet_6.svg") 125px 0 no-repeat;
    min-height: 180px;
  }

  .explanation__paragraph--illustration-3 {
    background: url("../img/explanation/illustration_tablet_3.svg") no-repeat,
      url("../img/explanation/illustration_tablet_7.svg") 125px 0 no-repeat;
    min-height: 180px;
  }

  .explanation__paragraph--illustration-4 {
    background: url("../img/explanation/illustration_tablet_4.svg") no-repeat,
      url("../img/explanation/illustration_tablet_8.svg") 125px 0 no-repeat;
    min-height: 180px;
  }
}

@media (min-width: @desktop-width) {
  .explanation {
    width: 1220px;
    font-size: 16px;
    line-height: 24px;
  }
}
