/* Form */

.form {
  width: 280px;
}

.form__fieldset ul {
  list-style: none;
  padding-left: 0;
}

.form__fieldset-title {
  font-family: @title-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;
  text-transform: none;
}

.form__contacts-title {
  font-family: @title-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;
  text-transform: none;
}

.form__wrap {
  color: @special_dark-grey;
}

.form__input,
.form__checkbox {
  width: 100%;
  font-family: @title-font;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-transform: uppercase;
}

.form__item {
  color: @basic_black;
}

.form__fieldset {
  border: none;
}

.form__textarea {
  width: 100%;
  height: 150px;
  font-family: @title-font;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-transform: uppercase;
}

.form__comments {
  font-family: @main-font;
  font-size: 14px;
  line-height: 16px;
  color: @basic_black;
  text-transform: none;
}

.form__label {
  color: @special_dark-grey;
}

.form__label--additionally {
  color: @basic_black;
}
