/* Gift */

.gift {
  width: 280px;
  height: 289px;
  background: url("../img/form/photo-gift.png");
  margin-bottom: 20px;
}

.gift__text {
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: @basic_white;
  text-align: center;
}
