/* Gift */

@basic_white: #ffffff;
@basic_grey: #f2f2f2;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@basic_black: #000000;
@main-font: "Arial", "Arial", sans-serif;
@title-font: "Oswald", "Arial", sans-serif;

.gift {
  width: 280px;
  height: 289px;
  background: url("../img/form/photo-gift.png");
  margin-bottom: 20px;
}

.gift__text {
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: @basic_white;
  text-align: center;
}
