/* Main-nav */

@basic_black: #000000;
@basic_green: #68b738;
@main-font: "Arial", "Arial", sans-serif;
@title-font: "Oswald", "Arial", sans-serif;

.main-nav {
  width: 280px;
}

.site-list__item a {
  font-family: @title-font;
  color: @basic_black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  color: @basic_black;
  border-bottom: 2px solid @basic_green;
}
