/* Page-footer*/

.page-footer__logo {
  // margin: 0 auto;
  padding-bottom: 28px;
  border-bottom: 1px solid @special_grey-4;
  text-align: center;
}

.page-footer__equalisation {
  background-color: @basic_grey;
  padding: 37px 0;
}

@media (min-width: @tablet-width) {
  .page-footer__equalisation {
    padding: 0;
  }

  .page-footer__logo {
    margin: 0;
    order: 1;
    padding: 20px 0;
  }

  .page-footer__social {
    order: 2;
  }

  .page-footer__copyright {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo {
    margin: 0;
  }
}
