/* .Page-header */

.page-header__logo {
  display: block;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.page-header__logo a:hover {
  opacity: 0.8;
}

.page-header__logo a:active {
  opacity: 0.6;
}

.page-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @mobile-width-only) {
  .page-header {
    min-width: 320px;
    display: flex;
    flex-direction: column;
  }

  .page-header__logo {
    height: 38px;
  }

  .page-header__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    min-width: 768px;
  }

  .page-header__ligo {
    width: 174px;
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}
