/* Preview */

.preview {
  font-family: @title-font;
  width: 320px;
  color: @basic_white;
  text-align: center;
}

.preview__wrapper {
  display: block;
  width: 320px;
  height: 302px;
  background-color: @basic_green-limpid;
  background-image: url("../img/preview/foto_1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.preview__image {
  background: url("../img/preview/cadr_1.png") 0 0 no-repeat;
  width: 280px;
  height: 270px;
}

.preview__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.preview__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.preview__link a {
  width: 280px;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic_white;
  padding: 12px 52px;
  background-color: @basic_green;
}

.preview__link a:hover {
  background-color: @basic_green-2;
}

.preview__link a:active {
  background-color: @basic_green;
  color: @basic_white;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .preview {
    width: 709px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: @basic_black;
  }

  .preview__wrapper {
    display: block;
    width: 709px;
    height: 180px;
    background: @basic_white;
  }

  .preview__image {
    width: 709px;
    height: 609px;
    background-image: url("../img/preview/card_tablet.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 100px;
  }

  .preview__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .preview__slogan {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .preview {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: @basic_black;
  }

  .preview__wrapper {
    display: block;
    width: 610px;
    height: 694px;
  }

  .preview__image {
    width: 709px;
    height: 609px;
    background: url("../img/preview/card_tablet.png") center no-repeat,
      url("../img/preview/foto_1.png") center no-repeat,
      @basic_green-limpid;
  }
}
