/* Reason */

.reason {
  //width: 280px;
  height: 100%;
  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  margin-top: 20px;
}

.reason__wrapper ul {
  list-style: none;
  padding-left: 0;
}

.reason__item {
  background-color: @basic_grey;
  padding: 20px;
  margin-bottom: 20px;
}

.reason__item h3 {
  font-family: @title-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic_black;
  margin-top: 10px;
  padding-left: 80px;
}

.reason__item p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reason__item--pic-1 {
  background-image: url("../img/reason/pic_1.png");
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.reason__item--pic-2 {
  background-image: url("../img/reason/pic_2.png");
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.reason__item a {
  font-family: @title-font;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: @basic_black;
  text-align: center;
  text-transform: uppercase;
}

.reason__link::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 12px;
  background-image: url("../img/reason/icon_arrow.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.reason__link a:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .reason {
    //width: 709px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
  }

  .reason__item {
    padding: 53px;
    margin-bottom: 30px;
  }

  .reason__description {
    width: 340px;
    height: 96px;
  }

  .reason__item h3 {
    padding-top: 22px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .reason__item p {
    margin-top: 24px;
    margin-bottom: 48px;
  }

  .reason__item a {
    font-size: 20px;
    line-height: 30px;
  }

  .reason__item--pic-1 {
    background-image: url("../img/reason/pic_tablet_1.png");
    background-repeat: no-repeat;
    background-position: 85% 50%;
  }

  .reason__item--pic-2 {
    background-image: url("../img/reason/pic_tablet_2.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }
}

@media (min-width: @desktop-width) {
  .reason {
    width: 1220px;
    font-size: 16px;
    line-height: 24px;
  }

  .reason__item h3 {
    padding-top: 77px;
    font-size: 36px;
    line-height: 36px;
  }

  .reason__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .reason__item {
    width: 466px;
    padding: 40px 52px 55px;
  }

  .reason__item a {
    font-size: 20px;
    line-height: 30px;
  }

  .reason__item--pic-1 {
    background-image: url("../img/reason/pic_desktop_1.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
  }

  .reason__item--pic-2 {
    background-image: url("../img/reason/pic_desktop_1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
