/* Site-list */

.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
}

.site-list__item a {
  font-family: @title-font;
  color: @basic_black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  color: @basic_black;
  border-bottom: 2px solid @basic_green;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    width: 440px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 478px;
  }
}
