/* Social */

.social ul {
  list-style: none;
  padding-left: 0;
}


@media (min-width: @tablet-width) {
  .social__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
