/* Stats */

@special_grey-1:#eaeaea;
@special_dark-grey: #444444;
@basic_black: #000000;
@main-font: "Arial", "Arial", sans-serif;
@title-font: "Oswald", "Arial", sans-serif;

.stats {
  width: 280px;
  background-color: @special_grey-1;
}

.stats__header {
  padding-top: 27px;
}

.stats h2 {
  font-family: @title-font;
  font-size: 36px;
  line-height: 40px;
  color: @basic_black;
}

.stats__number {
  font-family: @title-font;
  font-size: 24px;
  line-height: 24px;
  color: @basic_black;
  text-align: center;
}

.stats__result {
  font-family: @title-font;
  font-size: 14px;
  line-height: 20px;
  color: @basic_black;
  text-align: center;
  text-transform: uppercase;
}

.slider__item-inactive {
  display: none;
}
